@import '__vars';

.checkout{
  width: 100%;
  height: 84vh;
  display: grid;
  // place-items: center;
  justify-content: center;
  align-items: start;
}

.checkout__container {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  width: 300px;
}

.checkout__container__header {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
}

.checkout__container__header-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--text-input-field);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 24px;
}

.checkout__container__header-info p:nth-child(1) {
  display: grid;
}

.checkout__container__header-info p span:nth-child(1){
  font-size: var(--md);
  font-weight: bold;
}

.checkout__container__header-info p span:nth-child(2){
  color: var(--very-light-pink);
  padding: 10px 0;
  font-size: var(--sm);
}

.checkout__container__header-info p:nth-child(2) {
  font-weight: bold;
}

.checkout__container__body {
  height: 30vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.checkout__container__body::-webkit-scrollbar {
  display: none;
}

.order-main {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.order-main p:nth-child(2) {
  font-weight: bold;
}

.order-main__header p {
  color: var(--very-light-pink);
}

.order-main__header-img {
  width: 64px;
  height: 64px;
}

