@import './_vars';

.product-detail{
  width: 360px;
  padding-bottom: 24px;
  position:absolute;
  right: 0;
}

.product-detail-close{
  background: var(--black);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}

.product-detail-close img:hover{
  cursor: pointer;
}

.product-detail img:nth-child(2){
  width: 100%;
  height: 360px;
  border-radius: 8px;
}

.product-info{
  margin: 24px 24px 0 24px;
}

.product-info p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info p:nth-child(2){
  font-weight: bold;
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}

.product-info p:nth-child(3){
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}

.primary-button{
  background: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 640px){
  .product-detail{
    width: 100%;
  }
}